.panel-body.panel-list-group
{
	padding: 0;
}

.panel-body.panel-list-group .list-group
{
	margin-bottom: 0;
}

.panel-body.panel-list-group .list-group .list-group-item:first-child
{
	border-radius: 0;
}